#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.TaskCont{
  width: 600px;
  border-color:1px solid white;
  background-color:#323aa1;
  border-radius: 22px;
}