#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.TaskCont{
  height:300px;
  width: 600px;
  border-color:1px solid white;
  background-color:white;
  border-radius: 22px;
}