.AddTask {
  height: 30vh;
  width: 100%;
}

.AddHead {
  font-weight: 600;
  color:black;
}

.AddInput {
  height: 35px;
  width: 170px;
  border-radius:10px ;
  border-color: transparent;
  background-color: #f4c494;
  padding-left:5px;
  color: black;
}

.AddBtn {
  margin-left: 15px;
}


.InputCont{
  display: flex;
  justify-content: center;
  align-items: center;
}