@import "../../styles/mixin.scss";

.AboutHero-Cont {
  height: 100vh;
  width: 100%;
  margin-top: 20px;
}

.About-cont {
  @include flex(start, end);
  flex-direction: column;
  gap: 20px;

  h1 {
    @include text(6rem, 900);
  }

  h3 {
    @include text(2.5rem, 900);
  }
  
  p {
    @include text(1rem, 400);
  }

  .SocialMedia-icons {
    @include flex();
    width: fit-content;
    gap: 10px;
  }

  a {
    color: white;
  }
}

.AboutImage-Cont {
  @include flex();

  .About-Image {
    width: 400px;
    height: 550px;
    overflow: hidden;
    border-radius: 22px;
    @include flex();
  }
}

// Responsive styles
@media (max-width: 991px) {
  .AboutHero-Cont {
    height: auto;
    margin-top: 10px;
  }

  .About-cont, .AboutImage-Cont {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .AboutImage-Cont {
    margin-top: 20px;
  }

  .About-Image {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 551px) {
  .About-cont {
    h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 0.9rem;
    }

    .SocialMedia-icons {
      gap: 8px;
    }
  }

  .AboutImage-Cont {
    .About-Image {
      width: 90%;
      height: auto;
    }
  }
}
